@import url(reset.css);
body {
  background-color: #d9d2ca; }

.header {
  background-color: rgba(237, 143, 110, 0.9);
  padding-top: 0.6rem;
  width: 100%;
  height: 1.42rem;
  padding-bottom: 0.32rem;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0.1rem 0.1rem #aea9a2;
  z-index: 10;
  transition: all 0.5s ease-in-out; }
  .header .back {
    font-size: 1rem;
    position: absolute;
    top: 0.3rem;
    left: 0.24rem;
    color: #ffffff;
    text-shadow: 0.05rem 0.05rem 0.05rem #333333; }
  .header .profile-name {
    display: inline-block;
    font-size: 0.72rem;
    color: #ffffff;
    text-shadow: 0.05rem 0.05rem 0.05rem #333333; }
  .header .menu-tab {
    position: absolute;
    top: 0.66rem;
    left: 0.26rem; }
    .header .menu-tab img {
      width: 0.92rem;
      height: 0.72rem; }
  .header .menu-tab::after {
    content: '5';
    width: 0.6rem;
    height: 0.6rem;
    font-size: 0.36rem;
    background-color: #fadb9b;
    border-radius: 0.1rem;
    position: absolute;
    top: -0.34rem;
    right: -0.36rem; }
  .header .logo {
    display: inline-block; }
    .header .logo img {
      width: 3.04rem;
      height: 1.12rem; }

.footer {
  background-color: #695f56;
  box-shadow: 0 -0.1rem 0.1rem #333333;
  width: 100%;
  padding-top: 0.27rem;
  padding-bottom: 0.27rem;
  position: fixed;
  bottom: 0;
  z-index: 10;
  transition: all 0.5s ease-in-out; }
  .footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; }
    .footer ul li {
      flex-basis: 20%;
      text-align: center; }
      .footer ul li a img {
        width: 0.88rem;
        height: 0.88rem; }

.left-menu {
  width: 4.54rem;
  height: 100%;
  background-color: #685e55;
  text-align: center;
  padding: 0 0.2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  left: -4.94rem;
  z-index: 11;
  transition: all 0.5s ease-in-out; }
  .left-menu form {
    position: relative;
    margin-top: 0.66rem; }
    .left-menu form input[type="submit"] {
      width: 0.45rem;
      height: 0.45rem;
      background-image: url("../images/search.png");
      background-size: cover;
      border: none;
      outline: none;
      position: absolute;
      top: 0.15rem;
      left: 0.4rem; }
    .left-menu form input[type="search"] {
      width: 90%;
      height: 0.74rem;
      background-color: #5e564d;
      border: 0.02rem solid #595148;
      outline: none;
      border-radius: 0.5rem;
      padding-left: 0.8rem; }
  .left-menu .profile-photo {
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid #5d554c;
    border-radius: 50%;
    margin-top: 0.32rem; }
  .left-menu .username {
    font-size: 0.48rem;
    color: #ffffff;
    margin-top: 0.28rem; }
  .left-menu .location {
    font-size: 0.32rem;
    color: #a49f99;
    margin-top: 0.16rem; }
    .left-menu .location::before {
      content: '';
      display: inline-block;
      width: 0.28rem;
      height: 0.36rem;
      background-image: url("../images/location.png");
      background-size: cover;
      margin-right: 0.25rem; }
  .left-menu .switch {
    margin-top: 0.4rem; }
    .left-menu .switch ul li {
      display: inline-block;
      width: 0.2rem;
      height: 0.2rem;
      background-color: #ffffff;
      border-radius: 50%;
      opacity: 0.5;
      margin-right: 0.1rem; }
    .left-menu .switch ul li:first-child {
      opacity: 1; }
    .left-menu .switch ul li:hover {
      opacity: 1; }
  .left-menu .menu-list {
    margin-top: 0.48rem; }
    .left-menu .menu-list ul li {
      border-bottom: 2px solid #5d554c;
      padding-top: 0.25rem;
      padding-bottom: 0.2rem;
      text-align: left; }
      .left-menu .menu-list ul li a img {
        width: 0.84rem;
        height: 0.84rem;
        margin-left: 0.3rem;
        transform: translateY(0.1rem); }
      .left-menu .menu-list ul li a span {
        display: inline-block;
        margin-left: 0.5rem;
        font-size: 0.5rem;
        color: #ffffff;
        transform: translateY(-0.1rem); }
    .left-menu .menu-list ul li:first-child {
      border-top: 2px solid #5d554c;
      background-color: rgba(255, 255, 255, 0.1); }
    .left-menu .menu-list ul li:hover {
      background-color: rgba(255, 255, 255, 0.1); }

.right-page {
  overflow-x: hidden;
  overflow-y: hidden; }

body {
  background-color: #85d2c5;
  padding-top: 1.95rem; }

.logo {
  text-align: center; }
  .logo img {
    width: 5.06rem;
    height: 1.8rem; }

#login {
  text-align: center;
  margin-top: 1.15rem; }
  #login #email {
    width: 60%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.02rem solid #77bdb1;
    padding-left: 1.68rem;
    padding-bottom: 0.26rem;
    margin-bottom: 0.46rem;
    font-size: 0.48rem;
    background: url("../images/email.png") 0.07rem top no-repeat;
    background-size: 0.76rem 0.6rem; }
  #login #password {
    width: 60%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.02rem solid #77bdb1;
    padding-left: 1.68rem;
    padding-bottom: 0.26rem;
    margin-bottom: 0.46rem;
    font-size: 0.48rem;
    background: url("../images/lock.png") 0.07rem top no-repeat;
    background-size: 0.64rem 0.7rem; }
  #login #email::placeholder,
  #login #password::placeholder {
    font-size: 0.48rem; }
  #login #submit {
    display: block;
    width: 40%;
    margin: 0.14rem auto 0;
    font-size: 0.48rem;
    color: #ffffff;
    padding: 0.2rem 0;
    background-color: #705d76;
    border: none;
    outline: none;
    border-radius: 0.1rem;
    box-shadow: 0 0.05rem 0.1rem #5c4d61; }

.password-forgot {
  display: block;
  width: fit-content;
  margin: 0.4rem auto 0;
  font-size: 0.36rem;
  color: #ffffff; }

.login-footer {
  background-color: #6aa89e;
  padding-top: 0.42rem;
  padding-bottom: 0.32rem;
  position: fixed;
  bottom: 0; }
  .login-footer .facebook-login {
    display: block;
    width: 40%;
    height: 1rem;
    margin: 0 auto;
    font-size: 0.3rem;
    line-height: 0.3rem;
    color: #ffffff;
    border: 0.02rem solid #ffffff;
    border-radius: 0.1rem;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-align: center; }
    .login-footer .facebook-login img {
      width: 0.28rem;
      height: 0.6rem;
      position: absolute;
      top: 0.16rem;
      left: 0.3rem; }
    .login-footer .facebook-login span {
      display: inline-block;
      position: absolute;
      top: 0.3rem;
      left: 0.8rem; }
  .login-footer .sign-up {
    text-align: center;
    margin-top: 0.3rem; }
    .login-footer .sign-up a {
      font-size: 0.3rem;
      color: #ffffff;
      text-decoration: underline; }

/*# sourceMappingURL=login.css.map */
